*{
    box-sizing: border-box;
    font-family: serif;
    padding:0;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;

}

:root{
    --contrastText: 'Life Savers', cursive;
    --paleCyan: rgb(142, 218, 240);
    --paleBlue: rgb(158, 174, 236);
    --paleLavender: rgb(198, 171, 233);
    --navy: rgb(15, 40, 90);
}

/*background pattern*/

#tile{
    display: grid;
    grid-template-columns: 50px 25px 25px 50px;
    grid-template-rows: 50px 25px 25px 50px;
    grid-gap: 2px var(--paleCyan);
    border: 2px solid var(--paleCyan);
}

#a, #d, #m, #p{
    width: 25;
    height: 25;

    background-color: var(--paleCyan);
}

#b{
    width: 0;
    height: 0;

    
    border-top: transparent;
    border-bottom: var(--paleLavender) 25px;
    
    border-left: var(--paleLavender) 13px;
    border-right: transparent;
}

#c{
    width: 0;
    height: 0;

    border-top: transparent;
    border-bottom: var(--paleLavender) 25px;
    
    border-left: transparent;
    border-right: var(--paleLavender) 13px;
}

#e{
    width: 0;
    height: 0;

    border-top: var(--paleLavender) 13px;
    border-bottom: transparent;
    
    border-left: transparent;
    border-right: var(--paleLavender) 25px;
}

#f, #g, #j, #k{
    width: 25px;
    height: 25px;

    background-color: var(--paleLavender);
}

#h{
    width: 0;
    height: 0;

    border-top: var(--paleLavender) 13px;
    border-bottom: transparent;
    
    border-left: var(--paleLavender) 25px;
    border-right: transparent;
}

#i{
    width: 0;
    height: 0;

    border-bottom: var(--paleLavender) 13px;
    border-top: transparent;
    
    border-right: var(--paleLavender) 25px;
    border-left: transparent;
}

#l{
    width: 0;
    height: 0;

    border-bottom: var(--paleLavender) 13px;
    border-top: transparent;
    
    border-left: var(--paleLavender) 25px;
    border-right: transparent;
}

#n{
    width: 0;
    height: 0;

    border-bottom: transparent;
    border-top: var(--paleLavender) 25px;
    
    border-right: transparent;
    border-left: var(--paleLavender) 13px;
}

#o{
    width: 0;
    height: 0;

    border-bottom: transparent;
    border-top: var(--paleLavender) 25px;
    
    border-left: transparent;
    border-right: var(--paleLavender) 13px;
}


