*{
    box-sizing: border-box;
    font-family: serif;
    padding:0;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;

}

:root{
    --contrastText: 'Life Savers', cursive;
    --paleCyan: rgb(142, 218, 240);
    --paleBlue: rgb(158, 174, 236);
    --navy: rgb(15, 40, 90);
}

/*background pattern*/
body{
    background: repeating-linear-gradient(var(--navy) 0px, var(--navy) 50px,
    var(--paleCyan) 50px, var(--paleCyan) 52px, 
    var(--navy) 52px, var(--navy) 102px, 
    var(--paleCyan) 102px, var(--paleCyan) 104px);
}

header{
    /*svg dimensions
    M -0.32574029,-0.07514678 210.42823,0.2505935 l 0.32574,78.5034095 -96.09339,-0.32574 c 0,0 -8.14351,-0.651481 -8.14351,-8.469248 0,-7.492025 8.14351,-7.492026 8.14351,-7.492026 l 59.61048,-0.325742 c 0,0 8.7449,-1.626776 8.46925,-9.446466 -0.29834,-8.463036 -7.81777,-8.143507 -7.81777,-8.143507 L 13.355352,44.225532 c 0,0 -13.68109229,1.302962 -13.68109229,-11.72665 z*/
    border-left:#ffffff;
    stroke-width:0.26458332px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
    fill-opacity:1;
    image-rendering:auto
}


