*{
	font-family: "Arial Narrow", sans-serif;
	line-height:1.618em;
	box-sizing: border-box;
	padding: 0;
	margin:0;
	color: white;
}
:root {
	--navy: rgba(17, 40, 88, 0.9);
	--coral:rgb(255, 93, 93);	
	--contrastText:'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
}

body {
	background-image: url(images/blue.ink.bkg.jpg);
	background-repeat: no-repeat;
	background-color: rgb(130, 143, 172);
}

h3 {
	font-family: var(--contrastText);
	color:var(--coral);
	font-style: italic
}

html {
	font-size: 16px;
}


.container{
	width: 50%;
	height: 60vh;
	max-height: 305em;
	margin: 10% 5% 10% 45%;
	min-width: 50vw;
	background-color: var(--navy);
	padding:2em;

}

header{
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 3rem;
}

header h1 {
	font-size: 3rem;
	text-align: left;
	font-style: normal;
}

.alterText {
	color:var(--coral);
	font-style: italic;
	font-family: var(--contrastText);
	text-align: right;
}
.name{
	font-size: 2em;
}

section {
	padding-top: 10rem;
	margin-top: -10rem;
}

#projects {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row: 40%;
}

#projects > img {
	padding: 1em;
	width: 100%
}

#bio{
	display:grid;
	grid-template-columns: 30% repeat(3,1fr);
	grid-template-rows: 2 1fr;
	padding: 1rem;
	grid-column-gap: 2rem

}

#blurb {
	grid-column-start: 2;
	grid-column-end: 5;
}



nav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	background:var(--navy);
	width: 100%;
	padding: 1rem 3rem;
	border-bottom: 2px var(--navy);
	text-align: center;

}
nav:hover {
	border-bottom: 5px var(--coral);
	transition: 3s;
}

a{
	text-decoration:none;
}

nav a{
	margin: 1rem 5rem;
}

a:hover {
	color: var(--coral);
	transition: 3s;
	border-bottom: 4px var(--coral)

}
#headShot {

	padding: .75em 1em .75em 0em;
	width: 100%;
}



