*{
	font-family: "Arial Narrow", sans-serif;
	line-height:1.618em;
	box-sizing: border-box;
	padding: 0;
	margin:0;
	color: white;
}
:root {
	--navy: rgba(17, 40, 88, 0.9);
	--turquoise:rgb(35, 167, 177);	
	--periwinkle: rgb(130, 143, 172);
	--transPeriwinkle: rgba(130, 143, 172, 0.5);
	--contrastText:'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
}

body {
	background-image: url(images/blue.ink.bkg.jpg);
	background-repeat: no-repeat;
	background-color: var(--periwinkle);
}

h3 {
	font-family: var(--contrastText);
	color:var(--turquoise);
	font-style: italic
}

html {
	font-size: 16px;
}


.container{
	width: 50%;
	min-height: 60vh;
	max-height: 305em;
	margin: 10% 5% 10% 45%;
	min-width: 50vw;
	background-color: var(--navy);
	padding:2em;
	border-radius: 2rem;

}

header{
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 3rem;
}

header h1 {
	font-size: 3rem;
	text-align: left;
	font-style: normal;
}

.alterText {
	color:var(--turquoise);
	font-style: italic;
	font-family: var(--contrastText);
	text-align: right;
}
.name{
	font-size: 2em;
}

section {
	padding-top: 10rem;
	margin-top: -10rem;
}

#thumbnails {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row: 40%;
	align-content: center;

}

#thumbnails > div > img{
	border: 5px solid var(--transPeriwinkle);
	padding: 3px;
	border-radius: 2em;
	width: 150px;
	height: 150px;	
}

#thumbnails > div > img:hover{
	border: 5px solid var(--turquoise);
	padding: 3px;
	transition: 3s;
}

#projectScreen > aside {
	color: var(--navy);
}

#projectScreen > aside > article {
	display: none;
}

#projectScreen > aside >article.show {
	display: flex;
	position: fixed;
	top:20%;
	left: 5%;
	max-width: 40%;
	max-height: 305em;
	align-items: vertical;
}

#projectScreen > aside > article.show > img {
	max-width: 300px;
	max-height: 300px;
	border-bottom-left-radius: 2rem;
	border-top-left-radius: 2rem;
}

#projectScreen > aside > article.show > p {
	background-color: var(--transPeriwinkle);
	padding: 2rem;
	max-width: 250px;
	border-bottom-right-radius: 2rem;
	border-top-right-radius: 2rem;
}

#bio{
	display:grid;
	grid-template-columns: 30% repeat(3,1fr);
	grid-template-rows: 2 1fr;
	padding: 1rem;
	grid-column-gap: 2rem
}

#blurb {
	grid-column-start: 2;
	grid-column-end: 5;
}

#contact {
	grid-column-start: 1;
	grid-column-end: 3;
}

#skills {
	grid-column-start: 3;
	grid-column-end:5;
}



nav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	background:var(--navy);
	width: 100%;
	padding: 1rem 3rem;
	border-bottom: 5px solid transparent;
	text-align: center;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

nav:hover {
	border-bottom: 5px solid var(--turquoise);
	transition: 3s;
}

a{
	text-decoration:none;
}

nav a{
	margin: 1rem 5rem;
}
nav a:link {
	transition-duration: 3s;
}

a:hover {
	color: var(--turquoise);
	transition: 3s;
	

}
#headShot {
	padding: .75em 1em .75em 0em;
	width: 100%;
	border-radius: 2rem;
}
footer{
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	background:white;
	width: 100%;
	padding: 1rem 3rem;
	color: var(--navy);
}



