*{
    box-sizing: border-box;
    font-family: serif;
    padding:0;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;

}

:root{
    --contrastText: 'Life Savers', cursive;
    --paleCyan: rgb(142, 218, 240);
    --paleBlue: rgb(158, 174, 236);
    --paleLavender: rgb(198, 171, 233);
    --navy: rgb(15, 40, 90);
}

/*background pattern*/
background{
    background: 
}



